@import url("../base.css");

body {
    background-image: radial-gradient(var(--ui-primary-light), var(--ui-primary-dark) 90%);
    background-size: 800% 9000%;
    animation: anim_bg 8s ease infinite;
    margin-bottom: 20vh;
    margin-top: 3vh;
}

.main-flexbox {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* justify-content: center; */
    /* align-items: center; */
}

.nav_links_container{
    margin: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap: 1vw;
    background-color: transparent;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.grid-container > div {
    display: flex;
    border-radius: 50px;
    background-color: var(--ui-panes-primary);
    height: 30vw;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.grid-container > div > p {
    justify-content: center;
    font-size: 1rem;
    font-family: 'Space Mono', 'monospace';
    color: aliceblue;
}

.grid-container > .post-header {
    background-color: var(--ui-primary-light);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}


#POST-HEADER {
    font-family: 'blox_brkregular';
    color: var(--ui-primary-dark);
    text-shadow: 0px 0px 8px ;
    font-size: 10vw;
}

@media (orientation: portrait) {
    body{
        margin-bottom: auto;
    }
    .grid-container {
        display: flex;
    }  
    .grid-container {
        flex-direction: column;
    }
    .grid-container > div {
        /* width: 80vw; */
        height: 13vh; 
    }
    .grid-container > div > p{
        font-size: 2rem;
    }
    .grid-container > .post-header{
        height: 18vh;
    }
    #POST-HEADER {
        font-size: 10rem;
    }
    .nav_links{
        font-size: 1.5rem;
    }
}