/* VARIABLES */

:root {
    --ui-primary-light:      #89b4fa;
    --ui-primary-dark:       #1a1425;
    --ui-panes-primary:      #04040471;
    --text-primary:          #89b4fa;
    --text-secondary:        #ffffff;
    --text-shadow:           #d1c7f1;   
}

@font-face {
    font-family: 'blox_brkregular';
    src: url('/resources/fonts/blox2-webfont.woff2') format('woff2'),
         url('/resources/fonts/blox2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@keyframes opaque_entry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opaque_exit {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes anim_bg {
    0% {
        background-position: 0% 0%;
    }
    
    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }
    
    75% {
        background-position: 100% 0%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(15px);
    }
    
    100% {
        transform: translateY(0);
    }
}

*{
    /* border: 3px solid red; */
    margin: 0;
    padding: 0;
}

* :not(body){
    animation: opaque_entry 1s;
}

body {
    margin: 0;
    background-image: radial-gradient(var(--ui-primary-light), var(--ui-primary-dark) 72%);
    background-size: 600% 600%;
    animation: anim_bg 8s ease infinite;
}

#notif_toast {    
    position: fixed;
    translate: translateX(-50%);
    max-width: max-content;
    background-color: #000000;
    box-shadow: 1px 1px 1px rgb(43, 43, 43);
    font-family: 'VT323', monospace;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    visibility: hidden;
    border-radius: 30px;
    padding: 16px;
    z-index: 1;
    margin: auto;
    top: 4vh;
    left: 0;
    right: 0;
}

.nav_links_container {
    display: flex;
}

.nav_links {
    outline: 0;
    align-items: center;
    background: 0 0;
    border: 1px solid #ffffff;
    border-radius: 50px;
    border-width: 2px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: 'Space Mono', monospace;
    font-size: 1.1rem;
    font-weight: 650;
    line-height: 1.5;
    margin: 0.5rem 0.5rem;
    overflow: hidden;
    padding: 12px 16px;
    justify-content: center;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #ffffff;
    transition: all 0.2s ease-out;
    white-space: nowrap;
}

.nav_links:focus, .nav_links:hover {
    transform: translate(0px, -4px);
    box-shadow: 0px 5px 0 rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.75rem white);
}

.nav_links_container:hover > .nav_links{
    opacity: 0.3;
}

.nav_links_container:hover > .nav_links:hover {
    opacity: 1;
}

@media (orientation: portrait) {
    #notif_toast{
        font-size: 2rem;
    }
}