@import url("./base.css");

body {
    margin: 0;
    background-image: radial-gradient(#b6a0ff, #1a1425 90%);
    background-size: 800% 9000%;
    animation: anim_bg 8s ease infinite;
}

.mother{
    background-color: #b6a0ff;
    border-radius: 50px;
    height: 80vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    position: relative;
    animation: opaque 3s;
}

.mother p{
    font-family: 'blox_brkregular';
    font-size: 7rem;
    translate: 0% 99%;
}

.mother img{
    width: 30rem;
    height: 30rem;
    /* transform: translateX(); */
    /* position: absolute; */
}