*{
    /* border: 3px solid red; */
    margin: 0;
    padding: 0;
}
@keyframes anim_bg {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

body {
    margin: 0;
    background-image: radial-gradient(#00ffdd81, #d33737);
    background-size: 600% 600%;
    animation: anim_bg 8s ease infinite;
}

#scroll_down {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    animation: bounce 2s infinite;
}



#heading {
    margin-top:20vh ;
    color: white;
    text-align: center;
    font-size: 2cm;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.nav_links_container {
    display: flex;
    justify-content: flex-end;

}

.nav_links {
    outline: 0;
    align-items: center;
    background: 0 0;
    border: 1px solid white;
    border-radius: 50px;
    border-width: 2px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9vw;
    font-weight: 650;
    gap: 8px;
    line-height: 1.5;
    margin: 1rem 1rem 1rem 0rem;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    color: white;
    transition: all .14s ease-out;
    white-space: nowrap;

}

.nav_links:hover {

    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 black;
}



.navbar {
    position: sticky;
    background-color: transparent;
    height: 75px;
    padding: 0;
    margin: 0px;
    border: 0;

}

.pane1 {

    color: aliceblue;
    padding: 10% 15%;
    height: 85vh;
    background-color: rgb(33, 33, 33);
    margin-top: 55vh;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.pane1_items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(20vh);
}

#pane1_text p{
    line-height: 2.6;
}


.git_flex {
    font-size: 000.50vw;
    text-align: center;
    transform: translateY(24vh);
}

.pane2{
    background-color: white;
    padding: 10% 15%;
    height: 75vh;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#beautiful_internet{
    color: black;
    font-size: 10px;
    text-align: center;
    transform: translateY(30vh);
}