@font-face {
    font-family: 'blox_brkregular';
    src: url('/resources/fonts/blox2-webfont.woff2') format('woff2'),
         url('/resources/fonts/blox2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    /* border: 3px solid red; */
    margin: 0;
    padding: 0;
}

@keyframes opaque {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim_bg {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

body {
    margin: 0;
    background-image: radial-gradient(#b6a0ff, #1a1425 80%);
    background-size: 600% 600%;
    /* background-attachment: fixed; */
    animation: anim_bg 8s ease infinite;
}

#scroll_down {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 1vh;
    z-index: 9;
    animation: bounce 2s infinite;
}

#heading_nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    height: 100vh;
    animation: opaque 5s;
}

.heading{
    color: #b6a0ff;
    top: 30vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 9rem;
    transition: all 1s ease-out;
    cursor: pointer;
}

.heading:hover{
    text-shadow: 0px 0px 200px #b6a0ff;
    font-size: 11rem;
}


.nav_links_container {
    display: flex;
    justify-content: center;
}

.nav_links {
    outline: 0;
    align-items: center;
    background: 0 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    border-width: 2px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    font-weight: 650;
    line-height: 1.5;
    margin: 1rem 1rem 1rem 0rem;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    color: white;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.nav_links:hover {
    transform: translate(0px, -4px);
    box-shadow: 0px 4px 0 rgb(255, 255, 255);
}

.navbar {
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0px;
    border: 0;
}

.pane_todo {
    height: 100vh;
    margin: auto;
    width: 95vw;
    background: inherit;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 0 5px #fcfcff74;
}

.pane_todo::before{
    content: "";
    filter: blur(10px);
    background: inherit;
}

.pane_todo_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    padding-left: 10vw;
    top: 20vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1.25rem;
    color: #d6c9ff;
    line-height: 2.6;
    position: relative;
    z-index: 5;
}

.pane_internet{
    background-color: #b6a0ff;
    border-radius: 50px;
    height: 100vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

#beautiful_internet{
    color: #1a1425;
    position: relative;
    top: 40vh;
    font-family: 'blox_brkregular';
    font-size: 8rem;
    text-decoration: none;
    vertical-align: center;
}

#made_with{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: white;
}