@import url("./base.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


#heading_nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    height: 100svh;
}

.heading{
    color: var(--text-primary);
    top: 30vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 10rem;
    transition: all 1s ease-out;
    cursor: pointer;
}

.heading:hover{
    text-shadow: 0px 0px 100px var(--text-shadow);
}


.navbar {
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0px;
    border: 0;
}

#scroll_down {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 1vh;
    z-index: 9;
    animation: bounce 2s infinite;
    transition: all 0.2s;
}

#scroll_down:hover {
    filter: drop-shadow(0 0 0.75rem white);
}

.nav_links_container {
    justify-content: center;
    flex-direction: row;
}

#email {
    visibility: hidden ;
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: 650;
    color: var(--text-secondary);
}

.pane_about {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin: auto;
    scroll-margin: 4vh;
    width: 95vw;
    margin-top: 1vh;
    /* background: inherit; */
    /* overflow: hidden; */
    border-radius: 50px;
    /* box-shadow: 0 0 1px var(--text-shadow); */
    background-color: var(--ui-panes-primary);
    overflow-y: scroll;
}

.pane_text_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    padding-left: 8vw;
    padding-right: 8vw;
    text-align: justify;
    /* top: 15vh; */
    font-family: 'Raleway', monospace;
    font-size: 1.43rem;
    color: var(--text-secondary);
    line-height: 2.6;
    position: relative;
    z-index: 5;
}

/* .pane_proj_details { 
     I"LL BE BACK
} */


#about_header {
    font-family: 'Raleway', monospace;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.pane_internet{
    background-color: var(--ui-primary-light);
    border-radius: 50px;
    height: 100vh;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}

#beautiful_internet{
    color: var(--ui-primary-dark);
    position: relative;
    top: 40vh;
    font-family: 'blox_brkregular';
    font-size: 8rem;
    text-decoration: none;
}

#made_with{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    color: var(--text-secondary);
}

@media (orientation: portrait) {
    #about_header {
        font-size: 7rem;
    }
    .pane_text_contents {
        justify-content: flex-start;
        font-size: 2rem;
        padding-top: 10vw;
        padding-right: 10vw;
    }
    .nav_links_container {
        flex-direction: column;
        gap: 2.4vh;
    }
    .nav_links {
        width: 70vw;
        height: 4vh;
        font-size: 2.5rem;
        text-align: center;
        border-radius: 20vw;
    }
    #scroll_down {
        height: 6rem;
        width: 6rem;
    }
    .heading {
        font-size: 11rem;
    }
    #heading_nav {
        gap: 5vh;
    }
    #made_with {
        font-size: 1.5rem;
    }
}