@keyframes prank {
    100% {
        text-shadow: 7px 7px yellow;
        font-size: 310px;

    }
}

body {
    background-color: rgb(29, 29, 29);
}

#boldy {
    font-size: larger;
    animation: prank 5s;
    animation-fill-mode: forwards;
    color: red;
}

#prank {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 160px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    line-height: 200px;
}